.row
  .col-sm-8.col-sm-offset-2

    = form_for [:account, article], html: {role: "form" } do |f|

      = render partial: 'errors', locals: {object: article}

      .form-group
        %label
          = article.class.human_attribute_name('title')
        = f.text_field :title, placeholder: 'Title', class: 'form-control'

      .form-group
        %label
          = article.class.human_attribute_name('announce')
        = f.text_area :announce, placeholder: 'Announce', class: 'form-control'

      .form-group
        %label
          = article.class.human_attribute_name('content')
        = f.text_area :content, placeholder: 'Content', class: 'form-control'

      .form-group
        %label
          = article.class.human_attribute_name('published_at')
        = f.datetime_select :published_at, placeholder: 'Published At', class: 'form-control'

      .form-group
        %label
          = article.class.human_attribute_name('is_published')
        = f.check_box :is_published, class: 'form-control'

      .form-group
        - text = article.new_record? ? t_crud_view('submit_button.create', {model_name: article.model_name.human}) : t_crud_view('submit_button.update', {model_name: article.model_name.human})
        = f.submit text, class: 'btn btn-primary'
