= render layout: 'layout' do
  .page-header
    = link_to account_articles_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      = t_crud_view('links.back')

    %h1
      = t_crud_view('actions.new.heading', {item: 'article'})

  = render 'form'