= render layout: 'layout' do

  .page-header
    = link_to account_articles_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      = t_crud_view('links.back')

    = link_to edit_account_article_path(article), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      = t_crud_view('links.edit')

    %h1= article.title

  %dl.dl-horizontal

  %table.table.table-bordered.table-stripped
    %tbody
      %tr
        %td.col-sm-2
          %strong
            = article.class.human_attribute_name('title')
        %td.col-sm-10
          = article.title
      - #TODO add other attributes