.row
  .col-sm-12.text-center
    %h2 Resend unlock instructions
.row
  .col-sm-8.col-sm-offset-2
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html:{class: 'form-horizontal', method: :post}) do |f|

      = devise_error_messages!

      .form-group
        %label.col-sm-3.control-label
          = f.label :email
        .col-sm-5
          = f.text_field :email, placeholder: 'Email', class: 'form-control', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

      .form-group.actions
        %label.col-sm-3.control-label
        .col-sm-5
          = f.submit 'Resend unlock instructions', class: 'btn btn-success'
          %br
          = render 'devise/shared/links'
