.row
  .col-sm-12.text-center
    %h2 Forgot your password?
.row
  .col-sm-8.col-sm-offset-2
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-horizontal', method: :post}) do |f|

      = devise_error_messages!

      .form-group
        %label.col-sm-3.control-label
          = f.label :email
        .col-sm-5
          = f.text_field :email, placeholder: 'Email', class: 'form-control'

      .form-group
        %label.col-sm-3.control-label
          = f.label :password
        .col-sm-5
          = f.password_field :password, placeholder: 'Password', class: 'form-control'

      - if devise_mapping.rememberable?
        .form-group
          %label.col-sm-3.control-label
            = f.label :remember_me
          .col-sm-5
            = f.check_box :remember_me, class: 'form-control'

      .form-group.actions
        %label.col-sm-3.control-label
        .col-sm-5
          = f.submit 'Send me reset password instructions', class: 'btn btn-success'
          %br
          = render 'devise/shared/links'